#TOP menu
name=time/date
name=apps
name=test
name=games

#TOP apps
name=browser
link=[CFG_PATH]/build/avwm/plugins/ls-gui
param=/

#TIME/DATE menu
name=calendar
parent=time/date
link=[CFG_PATH]/build/avwm/plugins/calendar

#APPS menu
name=snow
parent=apps
link=[CFG_PATH]/build/avwm/plugins/snow

#TEST menu
name=plugin
parent=test
link=[CFG_PATH]/build/avwm/plugins/plugin

#GAMES menu
name=othello
parent=games
link=[CFG_PATH]/build/avwm/plugins/othello
name=minesweeper
parent=games
link=[CFG_PATH]/build/avwm/plugins/minesweeper
name=matrix
parent=games
link=[CFG_PATH]/build/avwm/plugins/matrix