#TOP menu
name=time/date
name=apps
name=test

#TOP apps
name=browser
link=/mnt/ls-gui
param=/

#TIME/DATE menu
name=calendar
parent=time/date
link=/mnt/calendar

#APPS menu
name=snow
parent=apps
link=/mnt/snow

#TEST menu
name=plugin
parent=test
link=/mnt/plugin