#TOP menu
name=time/date
name=apps
name=gfx
name=test
name=games

#TOP apps
name=browser
link=[CFG_PATH]/build/avwm/plugins/ls-gui
param=[CFG_PATH]/build

#TIME/DATE menu
name=calendar
parent=time/date
link=[CFG_PATH]/build/avwm/plugins/calendar

#APPS menu
name=calc
parent=apps
link=[CFG_PATH]/build/avwm/plugins/calc

#GFX menu
name=snow
parent=gfx
link=[CFG_PATH]/build/avwm/plugins/snow
name=matrix
parent=gfx
link=[CFG_PATH]/build/avwm/plugins/matrix
name=colorPAL
parent=gfx
link=[CFG_PATH]/build/avwm/plugins/colorPAL

#TEST menu
name=plugin
parent=test
link=[CFG_PATH]/build/avwm/plugins/plugin
name=bitmap
parent=test
link=[CFG_PATH]/build/avwm/plugins/bitmap
name=helloworld
parent=test
link=[CFG_PATH]/build/avwm/plugins/helloworld
name=cfg_file
parent=test
link=[CFG_PATH]/build/avwm/plugins/cfg_file
name=sprite
parent=test
link=[CFG_PATH]/build/avwm/plugins/sprite
name=mp3
parent=test
link=[CFG_PATH]/build/avwm/plugins/play

#GAMES menu
name=othello
parent=games
link=[CFG_PATH]/build/avwm/plugins/othello
name=tetris
parent=games
link=[CFG_PATH]/build/avwm/plugins/tetris
name=minesweeper
parent=games
link=[CFG_PATH]/build/avwm/plugins/minesweeper
name=memory
parent=games
link=[CFG_PATH]/build/avwm/plugins/memory
name=spuzzle
parent=games
link=[CFG_PATH]/build/avwm/plugins/spuzzle
