#TOP menu
name=time/date
name=apps
name=gfx
name=test
name=games

#TOP apps
name=browser
link=/mnt/avwm/plugins/ls-gui.plug
param=/mnt
icon=browser_icon.ico

#TIME/DATE menu
name=calendar
parent=time/date
link=/mnt/avwm/plugins/calendar.plug
icon=cal_icon.ico
name=clock
parent=time/date
link=/mnt/avwm/plugins/clock.plug
icon=clock_icon.ico

#APPS menu
name=calc
parent=apps
link=/mnt/avwm/plugins/calc.plug
icon=calc.ico
name=abook
parent=apps
link=/mnt/avwm/plugins/abook.plug

name=graph
parent=apps
link=/mnt/avwm/plugins/graph.plug
icon=graph.ico

#GFX menu
name=snow
parent=gfx
link=/mnt/avwm/plugins/snow.plug
name=matrix
parent=gfx
link=/mnt/avwm/plugins/matrix.plug
name=colorPAL
parent=gfx
link=/mnt/avwm/plugins/colorPAL.plug

#TEST menu
name=plugin
parent=test
link=/mnt/avwm/plugins/plugin.plug
name=bitmap
parent=test
link=/mnt/avwm/plugins/bitmap.plug
name=helloworld
parent=test
link=/mnt/avwm/plugins/helloworld.plug
name=cfg_file
parent=test
link=/mnt/avwm/plugins/cfg_file.plug
name=sprite
parent=test
link=/mnt/avwm/plugins/sprite.plug
name=popup_menu
parent=test
link=/mnt/avwm/plugins/popup_menu.plug
name=diff_plane
parent=test
link=/mnt/avwm/plugins/diff_plane.plug
name=virt_kbd
parent=test
link=/mnt/avwm/plugins/virt_kbd.plug

#GAMES menu
name=othello
parent=games
link=/mnt/avwm/plugins/othello.plug
icon=othello.ico

name=tetris
parent=games
link=/mnt/avwm/plugins/tetris.plug
icon=tetris.ico

name=minesweeper
parent=games
link=/mnt/avwm/plugins/minesweeper.plug
icon=mines.ico

name=memory
parent=games
link=/mnt/avwm/plugins/memory.plug

name=spuzzle
parent=games
link=/mnt/avwm/plugins/spuzzle.plug
icon=spuzzle.ico

name=snake
parent=games
link=/mnt/avwm/plugins/snake.plug
icon=snake.ico

name=mastermind
parent=games
link=/mnt/avwm/plugins/mastermind.plug
icon=master_mind.ico