#TOP menu
name=time/date
name=apps
name=gfx
name=test
name=games

#TOP apps
name=browser
link=/mnt/avwm/plugins/ls-gui
param=/mnt

#TIME/DATE menu
name=calendar
parent=time/date
link=/mnt/avwm/plugins/calendar
name=clock
parent=time/date
link=/mnt/avwm/plugins/clock

#APPS menu
name=calc
parent=apps
link=/mnt/avwm/plugins/calc
name=graph
parent=apps
link=/mnt/avwm/plugins/graph

#GFX menu
name=snow
parent=gfx
link=/mnt/avwm/plugins/snow
name=matrix
parent=gfx
link=/mnt/avwm/plugins/matrix
name=colorPAL
parent=gfx
link=/mnt/avwm/plugins/colorPAL

#TEST menu
name=plugin
parent=test
link=/mnt/avwm/plugins/plugin
name=bitmap
parent=test
link=/mnt/avwm/plugins/bitmap
name=helloworld
parent=test
link=/mnt/avwm/plugins/helloworld
name=cfg_file
parent=test
link=/mnt/avwm/plugins/cfg_file
name=sprite
parent=test
link=/mnt/avwm/plugins/sprite
name=popup_menu
parent=test
link=/mnt/avwm/plugins/popup_menu
name=diff_plane
parent=test
link=/mnt/avwm/plugins/diff_plane
name=virt_kbd
parent=test
link=/mnt/avwm/plugins/virt_kbd

#GAMES menu
name=othello
parent=games
link=/mnt/avwm/plugins/othello
name=tetris
parent=games
link=/mnt/avwm/plugins/tetris
name=minesweeper
parent=games
link=/mnt/avwm/plugins/minesweeper
name=memory
parent=games
link=/mnt/avwm/plugins/memory
name=spuzzle
parent=games
link=/mnt/avwm/plugins/spuzzle
