# Menu list

image=/linux.bin
label= linav

image=/cjbm.bin
label="Archos FW bin"

image=/cjbm.ajz
labal="Archos FW"

# general options

# default action
default=linav
# Repeat key rate
repeat=1000
# Time out before launching default
time-out=25000
