# Menu list

image=/avos.bin
label=bootloader

image=/linux.bin
label= linav

image=/winav.bin
label=WinAv

image=/cjbm.ajz
label="Archos FW"

# general options

# default action
default=bootloader
# 32 chars key used to decode ajz file
key="--------------------------------"
# Repeat key rate
repeat=1000
# Time out before launching default
time-out=25000
